
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p dir="ltr" style="float: left">Made by Yanir Buznah <a href="https://www.linkedin.com/in/yanir-buznah-2955b4194/"><i style="color: #f0f8ff" class="fab fa-linkedin"></i></a></p>
    <p style="float: right">דברי תורה על ידי רון אליאב שליט"א</p>
  </div>
</div>
</body>
</html>
