
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p style="float: left">Made by Yanir Buznah</p>
    <p dir="rtl" style="float: right">דברי תורה על ידי רון אליאב שליט"א</p>
  </div>
</div>
</body>
</html>
