<%- include('partials/header'); -%>
<div style = "text-align:center" class="">
  <h1 >OOPS!</h1>

  <h2>I think you've lost .. </h2>
  <img width="983" height="553" src="images/404.jpg" class="main-photo" alt="Lost in the desert. | by Bokehm0n">

</div>

<%- include('partials/footer'); -%>
