<%- include('partials/header'); -%>
<div class="join-us">
<h1>הצטרפו אלינו!</h1>
<p style="font-size: 20px" ><%= joinContent %></p>

    <a href="https://drive.google.com/drive/u/0/folders/1W3f0d-qPx7rh7kYTeY_QHLwySQLdEOtY">
        <img alt="Color Google Drive icon" src="images/google-drive-logo.png" width="100" >

    </a>
    <a href="https://chat.whatsapp.com/BsHY2EVC50dDYyaMhTPIMC">
        <img alt="Whatsapp logo with name" src="images/whatsapp-logo.png" width="100">
    </a>


</div>


<%- include('partials/footer'); -%>
